__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ipynb_checkpoints/

logs/
results/

*.pth
!checkpoints/default_member_0.pth
!checkpoints/default_member_1.pth
!checkpoints/default_member_2.pth
!checkpoints/default_member_3.pth
!checkpoints/default_member_4.pth
!checkpoints/combined_member_0.pth
!checkpoints/combined_member_1.pth
!checkpoints/combined_member_2.pth
!checkpoints/combined_member_3.pth
!checkpoints/combined_member_4.pth

data/**/*.parquet
scattered-kinetic-data.zip
data/k_screening/
data/generated/

.DS_Store
nohup.out
